BOT_TOKEN=
GUILD_ID=

DB_URL=jdbc:postgresql://localhost:5433/gachamelia
DB_USER=postgres
DB_PASSWORD=gachamelia

WELCOME_CHANNEL=
STAFF_ROLE=
XP_EMOJI="<:id_6_xp:1311673719613292595>"
APP_VERSION=0.0.1
APP_DESCRIPTION="J'ai posé un pied à terre."