TOKEN="BOT_TOKEN"
GUILD_ID="1234567890"
DB_DIALECT="mysql"
DB_HOST="localhost"
DB_NAME="gachamelia"
DB_USERNAME="gachamelia"
DB_PASSWORD="gachamelia"
DB_PORT=3310
SSR_ROLE=""
SR_ROLE=""
R_ROLE=""
WELCOME_CHANNEL=""