BOT_TOKEN=

GUILD_ID=
DB_URL=
DB_USER=
DB_PASSWORD=
WELCOME_CHANNEL=
STAFF_ROLE=

API_BASE_URL=https://example.test/gachamelia
API_CLIENT_ID=gachamelia-bot
API_CLIENT_SECRET=change-me

XP_EMOJI="<:id_6_xp:1311673719613292595>"
APP_VERSION=0.0.1
APP_DESCRIPTION="J'ai posé un pied à terre."
